<div class="strip" style="background: {{ background_color | default: '#ffffff' }};">
    <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
      <h2 class="title">{{ section_title }}</h2>
      <h5 style="text-align: justify; color: {{ text_color | default: '#000000' }};">{{ section_content }}</h5>
      <div class="row justify-content-start">
        {% assign items = section_items | sort: 'weight' %}
        {% for feature in items %}
        <div class="col-12 col-md-6 col-lg-4 mb-2">
          <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
            <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
            <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
            <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
              {% if feature.link %}
                <a href="{{ feature.link }}" target="blank"> 
                  <img src="/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
                </a> 
              {% endif %}
              {% if feature.github %}
                <a href="{{ feature.github }}" target="blank"> 
                  <img src="/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
                </a> 
              {% endif %}
              {% if feature.license %}
                <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
              {% endif %}
              {% if feature.trl %}
                <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                  <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
                </a> 
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  