---
layout: default
bodyClass: "page-home"
---


<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-center">
      <div class="col-12 col-md-10">
          <div class="service service-single">
              <h1 class="title">{{page.title}}</h1>
              <div class="content">{{content}}</div>
          </div>
      </div>
  </div>
</div>


<!-- Section 1: Digital Twin Pipelines -->
<div class="strip" style="background: #D7E9B9;">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1 class="title">Digital Twin Pipelines</h1>
    <div class="row justify-content-start">
      {% assign pilots = site.pilots | sort: "weight" %}
      {% for pilot in pilots %}
      <div class="col-12 col-md-3 mb-1">
        <div class="pilot pilot-summary">
          <div class="pilot-content">
            <h3 class="pilot-title">
              <a href="{{ pilot.url | relative_url }}">{{ pilot.title }}</a>
            </h3>
            <p>{{ pilot.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Section 2: Toolbox -->
<div class="strip" style="background: #F4F4F4;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h1 class="title">Toolbox Components</h1>


<!-- Subsection: Physical Twin -->
<div class="strip" style="background: #d5edff;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="title">Physical Twin</h2>
    <h5 style="text-align: justify;">{{ site.data.layers.physicaltwin }}</h5>
    <div class="row justify-content-start">
      {% assign physicaltwin = site.physicaltwin | sort: "weight" %}
      {% for feature in physicaltwin %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
          <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
          <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
          <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
            
            {% if feature.link %}
              <a href="{{ feature.link }}" target="blank"> 
                <img src="/toolbox/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.github %}
              <a href="{{ feature.github }}" target="blank"> 
                <img src="/toolbox/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.license %}
              <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
            {% endif %}

            {% if feature.trl %}
              <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
              </a> 
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



<!-- Subsection: Data Layer -->
<div class="strip" style="background: #b3e5fc;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="title">Data Layer</h2>
    <h5 style="text-align: justify;">{{ site.data.layers.datalayer }}</h5>
    <div class="row justify-content-start">
      {% assign datalayer = site.datalayer | sort: "weight" %}
      {% for feature in datalayer %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
          <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
          <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
          <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
            
            {% if feature.link %}
              <a href="{{ feature.link }}" target="blank"> 
                <img src="/toolbox/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.github %}
              <a href="{{ feature.github }}" target="blank"> 
                <img src="/toolbox/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.license %}
              <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
            {% endif %}

            {% if feature.trl %}
              <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
              </a> 
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Subsection: Digital Twin Representation -->
<div class="strip" style="background: #81d4fa;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="title">Digital Twin Representation</h2>
    <h5 style="text-align: justify;">{{ site.data.layers.digitaltwin }}</h5>
    <div class="row justify-content-start">
      {% assign digitaltwin = site.digitaltwin | sort: "weight" %}
      {% for feature in digitaltwin %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
          <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
          <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
          <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
            
            {% if feature.link %}
              <a href="{{ feature.link }}" target="blank"> 
                <img src="/toolbox/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.github %}
              <a href="{{ feature.github }}" target="blank"> 
                <img src="/toolbox/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.license %}
              <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
            {% endif %}

            {% if feature.trl %}
              <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
              </a> 
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Subsection: Service Layer -->
<div class="strip" style="background: #4fc3f7;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="title">Service Layer</h2>
    <h5 style="text-align: justify;">{{ site.data.layers.servicelayer }}</h5>
    <div class="row justify-content-start">
      {% assign servicelayer = site.servicelayer | sort: "weight" %}
      {% for feature in servicelayer %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
          <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
          <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
          <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
            
            {% if feature.link %}
              <a href="{{ feature.link }}" target="blank"> 
                <img src="/toolbox/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.github %}
              <a href="{{ feature.github }}" target="blank"> 
                <img src="/toolbox/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.license %}
              <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
            {% endif %}

            {% if feature.trl %}
              <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
              </a> 
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Subsection: User Interface -->
<div class="strip" style="background: #29b6f6;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="title">User Interface</h2>
    <h5 style="text-align: justify;">{{ site.data.layers.userinterface }}</h5>
    <div class="row justify-content-start">
      {% assign userinterface = site.userinterface | sort: "weight" %}
      {% for feature in userinterface %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
          <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
          <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
          <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
            
            {% if feature.link %}
              <a href="{{ feature.link }}" target="blank"> 
                <img src="/toolbox/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.github %}
              <a href="{{ feature.github }}" target="blank"> 
                <img src="/toolbox/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.license %}
              <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
            {% endif %}

            {% if feature.trl %}
              <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
              </a> 
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Subsection: Connectivity and Intergration -->
<div class="strip" style="background: #03a9f4;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="title">Connectivity and Integration</h2>
    <h5 style="color: #ffffff; text-align: justify;">{{ site.data.layers.connectivity }}</h5>
    <div class="row justify-content-start">
      {% assign connectivity = site.connectivity | sort: "weight" %}
      {% for feature in connectivity %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
          <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
          <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
          <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
            
            {% if feature.link %}
              <a href="{{ feature.link }}" target="blank"> 
                <img src="/toolbox/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.github %}
              <a href="{{ feature.github }}" target="blank"> 
                <img src="/toolbox/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.license %}
              <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
            {% endif %}

            {% if feature.trl %}
              <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
              </a> 
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Subsection: SSH and Ethics -->
<div class="strip" style="background: #0288d1;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h2 class="title">SSH and Ethics</h2>
    <h5 style="color: #ffffff; text-align: justify;">{{ site.data.layers.ssh }}</h5>
    <div class="row justify-content-start">
      {% assign ssh = site.ssh | sort: "weight" %}
      {% for feature in ssh %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" style="border-radius: 10px; border: 2px solid #253761;">
          <h3 class="feature-title"><a href="{{ feature.url | relative_url }}">{{ feature.title }}</a></h3>
          <div class="feature-content">{{ feature.description | truncate: 120 }}</div>
          <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
            
            {% if feature.link %}
              <a href="{{ feature.link }}" target="blank"> 
                <img src="/toolbox/images/home.svg" alt="external logo" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.github %}
              <a href="{{ feature.github }}" target="blank"> 
                <img src="/toolbox/images/github-mark.svg" alt="github" style="width: 24px; height: 24px;" /> 
              </a> 
            {% endif %}

            {% if feature.license %}
              <img src="{{ feature.license }}" alt="License" style="max-height: 24px; width: auto;" />
            {% endif %}

            {% if feature.trl %}
              <a href="https://ec.europa.eu/research/participants/data/ref/h2020/wp/2014_2015/annexes/h2020-wp1415-annex-g-trl_en.pdf" target="blank">
                <img src="{{ feature.trl }}" alt="TRL" style="max-height: 24px; width: auto;" />
              </a> 
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
