---
layout: default
bodyClass: "page-home"
---


<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-center">
      <div class="col-12 col-md-10">
          <div class="service service-single">
              <h1 class="title">{{page.title}}</h1>
              <div class="content">{{content}}</div>
          </div>
      </div>
  </div>
</div>


<!-- Section 1: Digital Twin Pipelines -->
<div class="strip" style="background: #D7E9B9;">
  <div class="container pt-6 pb-6 pb-md-10">
    <h1 class="title">Digital Twin Pipelines</h1>
    <div class="row justify-content-start">
      {% assign pilots = site.pilots | sort: "weight" %}
      {% for pilot in pilots %}
      <div class="col-12 col-md-3 mb-1">
        <div class="pilot pilot-summary">
          <div class="pilot-content">
            <h3 class="pilot-title">
              <a href="{{ pilot.url | relative_url }}">{{ pilot.title }}</a>
            </h3>
            <p>{{ pilot.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Section 2: Toolbox -->
<div class="strip" style="background: #F4F4F4;">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <h1 class="title">Toolbox Components</h1>

    <!-- Section 1: Physical Twin -->
    {% include section.html 
      background_color="#d5edff" 
      section_title="Physical Twin" 
      section_content=site.data.layers.physicaltwin 
      text_color="#000000" 
      section_items=site.physicaltwin 
    %}

    <!-- Section 2: Data Layer -->
    {% include section.html 
      background_color="#b3e5fc" 
      section_title="Data Layer" 
      section_content=site.data.layers.datalayer 
      text_color="#000000" 
      section_items=site.datalayer 
    %}

    <!-- Section 3: Digital Twin Representation -->
    {% include section.html 
      background_color="#81d4fa" 
      section_title="Digital Twin Representation" 
      section_content=site.data.layers.digitaltwin 
      text_color="#000000" 
      section_items=site.digitaltwin 
    %}

    <!-- Section 4: Service Layer -->
    {% include section.html 
      background_color="#4fc3f7" 
      section_title="Service Layer" 
      section_content=site.data.layers.servicelayer 
      text_color="#000000" 
      section_items=site.servicelayer 
    %}

    <!-- Section 5: User Interface -->
    {% include section.html 
      background_color="#29b6f6" 
      section_title="User Interface" 
      section_content=site.data.layers.userinterface 
      text_color="#ffffff" 
      section_items=site.userinterface 
    %}

    <!-- Section 6: Connectivity and Integration -->
    {% include section.html 
      background_color="#03a9f4" 
      section_title="Connectivity and Integration" 
      section_content=site.data.layers.connectivity 
      text_color="#ffffff" 
      section_items=site.connectivity 
    %}

    <!-- Section 7: SSH and Ethics -->
    {% include section.html 
      background_color="#0288d1" 
      section_title="SSH and Ethics" 
      section_content=site.data.layers.ssh 
      text_color="#ffffff" 
      section_items=site.ssh 
    %}
  </div>
</div>
